# Examples
*.exe
*.o
.configure/
checker.config.h
checker.exit
checker.log
checker.success
config.h
hello-world
test

# Debian packaging
debian/build.debhelper.log
debian/build.substvars
debian/build/
debian/debhelper-build-stamp
debian/files

# Snapcraft packaging
*.snap
parts/
prime/
stage/

# Editors
*~
.*.swp
